@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

body {
  font-family: 'Gentium Plus', serif;
}

.box {
  padding: 10px;
  margin: 15px auto;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.box > div {
  padding: 10px;
  font-size: 1.2em;
}
