* {
  box-sizing: border-box;
}

.btnz {
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 0.5em;
  margin: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.bigText {
  font-size: 1.2em;
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.btnz:hover {
  opacity: 0.5;
}

.output {
  margin: 30px auto;
  text-align: center;
}

.myTitle {
  text-transform: capitalize;
  font-size: 3em;
  text-align: center;

}

.box {
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: 5px auto;
  border: 1px solid #ddd;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  color: #ddd;
}

.box:hover {
  background-color: red;
}

.pages {
  width: 80%;
  text-align: center;
  margin: auto;
}

.pages button {
  font-size: 1.2em;
  margin: 5px;
  padding: 3px;
  border-radius: 20px;
}
